.footer-info {
    margin-top: 20px;
    width: 231px;
}

.footer-info__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-info__contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--opacity-white);

    transition: color var(--transition-basic);

    &:hover,
    &:focus {
        color: var(--primary-white-color);
    }
}
