.page-footer {
    background-color: var(--footer-bcg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--primary-white-color);
}

.footer-icon {
    fill: var(--primary-white-color);
}