.logo {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo__header {
    margin-right: 93px;
}

.logo__header,
.logo__footer {
    color: var(--accent-color);
}

.logo_dark {
    color: var(--primary-black-color);
}

.logo_light {
    color: var(--primary-white-color);
}